.block {
    border-radius: 25px;
    text-align: center;
    color: black;
    font-style: oblique;
    background:linear-gradient(to top right, bisque, aqua);
  }

.large {
  font-size: xx-large;
}

.red {
  color: blueviolet;
}

.fat {
  font-weight: bold;
}