.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 5vh 65vh 50vh 15vh 5vh;
  grid-template-areas:
    'header header header'
    'navigation photo personalInfo'
    'navigation social main'
    'advertise social main'
    'footer footer footer';
  width: 1200px;
  margin: 0 auto;
  grid-gap: 5px;
}

img {
  border-radius: 25px;
}